/* Folha de estilo específica para o calendário */
/* === Tipografia === */
.main-calendario h3 {
    font-weight: 400;
    margin-bottom: 0px;
}
.main-calendario h4 {
    font-size: 1.60rem;
    margin-top: 0px;
}

.main-calendario div {
    padding: 1px;
    border-bottom: 1px solid rgb(240, 240, 240)
}
.main-calendario div:first-of-type {
    margin-top: 2rem;
}

/* As datas anteriores ficam esmaecidas */

/* A) Insere-se border-left "transparente" em
        todas as divs com a cor do fundo */
.main-calendario > div {
    border-left: var(--border-indicador) solid var(--color-bright);
}
/* B) Com a cor primária, aplicar só na data ativa */
.main-calendario > div:nth-child(4) {
    border-left: var(--border-indicador) solid var(--color-main-primary);
}

/* C) Aplica-se cinza nas datas inativas (h3 e h4) */
.main-calendario h3,
.main-calendario h4 {
    color: var(--color-texto-oculto);
}
/* D) Aplica-se preto nas datas ativas (h3 e h4) */
.main-calendario > div:nth-child(n+4) > h3,
.main-calendario > div:nth-child(n+4) > h4 {
    color: var(--color-dark);
}