/* Variáveis */
:root {
    /* Icones catalogos */
    --width-catalogo: 100px;
    /* Cores de Cada Edicao */
    --color-24ed: rgb(60, 15, 82);
    --color-23ed-a: rgb(74, 101, 97);
    --color-23ed-b: rgb(94, 215, 197); /* Claro */
    --color-23ed-c: rgb(15, 89, 78); /* Curadoria */
    --color-23ed-d: rgb(249, 212, 3); /* Amarelo Curadoria */
    --color-22ed-a: rgb(143, 49, 55);
    --color-22ed-b: rgb(216, 23, 35); /* ====== */
    --color-21ed: rgb(182, 106, 39);
    --color-20ed: rgb(163, 117, 166);
    --color-19ed: rgb(121, 29, 101);
    --color-18ed: rgb(235, 97, 0);
    --color-17ed: rgb(170, 26, 23);
    --color-14ed: rgb(0,0,0);
}

/* Tipografia Específica desta página */
/*Submenu Edicoes Anteriores */
.submenu-ed-anteriores a {
    font-family: var(--font-normal);
    font-size: 14px;
    color: white;
    }
    /* Hover */
    div#shortcut-ed-24:hover,
    div#shortcut-ed-23:hover,
    div#shortcut-ed-22:hover,
    div#shortcut-ed-21:hover,
    div#shortcut-ed-20:hover,
    div#shortcut-ed-19:hover,
    div#shortcut-ed-18:hover,
    div#shortcut-ed-17:hover,
    div#shortcut-ed-14:hover {
        font-size: 22px;
    }
.sessao-ed-anteriores-grid-a h3,
.sessao-ed-anteriores-grid-b h3 {
 font-family: var(--font-normal);
 font-size: var(--font-size-3);
 font-weight: 500;
 text-decoration: none;
}
/* Nome das pessoas */    
li {
    font-family: var(--font-normal);
    font-size: var(--font-size-p); }

    /* - "Prêmio" */    
    li.premiado::after {
        font-size: var(--font-size-p);
        color: rgb(128,128,128)
    }

/* ............................................ */
/* Estrutura */
    /* MAIN-ED-ANTERIORES */ 
    
    /* #section24 {
        width: 100%;
    } */

    /* .linha-divisao - está no main.css */

    .sessao-ed-anteriores-grid-b {
        margin-right: 16px;
    }

        .submenu-ed-anteriores {
            float: right;
            position: sticky;
            top: var(--unit-1);
            margin-left: var(--unit-1);
            display: flex;
            flex-direction: column;
            align-items: flex-end; 
            }

            /* OS LINKS QUE ESTÃO DENTRO DESTE MENU */
            .submenu-ed-anteriores a {
                text-shadow: 0px 0px 5px black;
                }

                /* SUBMENU DE CADA EDIÇÃO
                <div.submenu-ed-anteriores>
                  L <a> 
                     L <div> */

                .submenu-ed-anteriores a div {
                    width: 40px;
                    height: 40px;
                    transition: all 3s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                /* cores de cada edição */
                #shortcut-ed-24 { background-color: var(--color-24ed); }
                #shortcut-ed-23 { background-color: var(--color-23ed-a); }
                #shortcut-ed-22 { background-color: var(--color-22ed-a); }
                #shortcut-ed-21 { background-color: var(--color-21ed); }
                #shortcut-ed-20 { background-color: var(--color-20ed); }
                #shortcut-ed-19 { background-color: var(--color-19ed); }
                #shortcut-ed-18 { background-color: var(--color-18ed); }
                #shortcut-ed-17 { background-color: var(--color-17ed); }
                #shortcut-ed-14 { background-color: var(--color-14ed); }
                
                /* HOVER */
                #shortcut-ed-24:hover,
                #shortcut-ed-23:hover,
                #shortcut-ed-22:hover,
                #shortcut-ed-21:hover,
                #shortcut-ed-20:hover,
                #shortcut-ed-19:hover,
                #shortcut-ed-18:hover,
                #shortcut-ed-17:hover,
                #shortcut-ed-14:hover {
                    width: 56px;
                    height: 104px;
                    filter: brightness(1.6);
                    transition: all .7s ease-in-out;
                }

        /* SESSOES EDICOES ANTERIORES */
        .main-ed-anteriores section {
            margin-right: 56px; /* Espaçamento para o submenu ao lado */
        }
            .sessao-ed-anteriores-grid-a h3,
            .sessao-ed-anteriores-grid-b h3 {
                margin-top: calc(var(--unit-1) + 10px);
                margin-bottom: 0;
            }
            section > h3 {
                margin-top: 0;
                padding-top: calc(var(--unit-1) * 3);
                margin-bottom: var(--unit-05);
            }
            .catalogo-icon svg {
                margin-top: 25px;
                margin-right: var(--unit-05);
            }
            /* .catalogo-icon div:nth-child(2) {
                margin-bottom: -300px;
            } */

        /* GRIDS */
        .sessao-ed-anteriores-grid-a,
        .sessao-ed-anteriores-grid-b {
            display: grid;
            /* border-top: 2px solid var(--color-azul-principal); */
            grid-template-columns: calc(var(--width-catalogo) + var(--unit-1)) 1fr 1fr 1fr;
        }
        .sessao-ed-anteriores-grid-a { /* .... A .... ( A A A ) */
            grid-template-areas:
            ".        artistastituloa artistastituloa artistastituloa"
            "catalogo artistaslistaa  artistaslistaa  artistaslistaa "
            "catalogo comissaotituloa comissaotitulob curadoriatituloa"
            "catalogo comissaoa       comissaob       curadoriaa";
        }
        .sessao-ed-anteriores-grid-b { /* .... B .... ( A A B ) */
            grid-template-areas:
            ".        artistastituloa artistastituloa artistastitulob"
            "catalogo artistaslistaa  artistaslistaa  artistaslistab"
            "catalogo comissaotituloa comissaotitulob curadoriatituloa"
            "catalogo comissaoa       comissaob       curadoriaa";
        }
        /* .... GRID AREAS .... */
            /* . Grid -----> A B
            /* [ . - 2 - 2 - 2/4 ]
            .. [ 1 - 3 - 3 - 3/5 ]
            .. [ 1 - 6 - 8 - 10  ]
            .. [ 1 - 7 - 9 - 11  ]
            /* 1 */
            .catalogo-icon { grid-area: catalogo;}
            /* 2 e 3 */
            .titulo-artistas-a { grid-area: artistastituloa; }
            .titulo-artistas-ab { grid-area: artistastituloa; }
            .lista-artistas-a { grid-area: artistaslistaa; }
            .lista-artistas-ab { grid-area: artistaslistaa; }
            /* 4 e 5 */
            .titulo-artistas-b { grid-area: artistastitulob; }
            .lista-artistas-b { grid-area: artistaslistab; }
            /* 6 e 7 */
            .titulo-comissao-a { grid-area: comissaotituloa; }
            .lista-comissao-a { grid-area: comissaoa; }
            /* 8 e 9 */
            .titulo-comissao-b { grid-area: comissaotitulob; }
            .lista-comissao-b { grid-area: comissaob; }
            /* 10 e 11 */
            .titulo-curadoria-a { grid-area: curadoriatituloa; }
            .lista-curadoria { grid-area: curadoriaa; }
        
        li.premiado::after {
            content: "  Prêmio";
        }

        .titulo-artistas-a,
        .titulo-artistas-ab,
        .titulo-artistas-b,
        .titulo-comissao-a,
        .titulo-comissao-b,
        .titulo-curadoria-a { /* Alinhar por baixo */
            display: flex;
            flex-direction: column;
            justify-content: end;
        }



        .sessao-ed-anteriores-catalogos-antigos { /*última sessao, apenas Catalogos */
            border-top: 2px solid var(--color-azul-principal);
            padding-top: 16px;
            display: flex;
        }
        .sessao-ed-anteriores-catalogos-antigos ol {
            margin-top: 0px;
        }
/* TELAS PEQUENAS */
@media screen and (max-width:560px) {
    
    .sessao-ed-anteriores-grid-a,
    .sessao-ed-anteriores-grid-b,
    .sessao-ed-anteriores-catalogos-antigos {
        display: block;
    }

    .sessao-ed-anteriores-grid-a h3,
    .sessao-ed-anteriores-grid-b h3 {
        margin-top: var(--font-size-3);
    }
        .catalogo-icon svg {
            margin-top: var(--unit-1);
        }

        .catalogo-icon {
            display: flex;
        }
}

/* TELAS LARGAS */
@media screen and (min-width:1036px) {
    .main-ed-anteriores {
        min-width: 972px;
    }

    .titulo-artistas-a h3,
    .titulo-artistas-b h3,
    .titulo-comissao-a h3,
    .titulo-comissao-b h3,
    .titulo-curadoria-a h3 {
        margin-bottom: 0px;
    }

    /* ab ocupa 3 colunas
    .. a  ocupa 2 colunas */
    .lista-artistas-ab { column-count: 3; }
    .lista-artistas-a { column-count: 2; }
    .lista-artistas-ab,
    .lista-artistas-a { /* Zerar gap */
        column-gap: 0px;
    }

    .sessao-ed-anteriores-grid-a,
    .sessao-ed-anteriores-grid-b {
        padding-left: var(--unit-1);
    }
    .sessao-ed-anteriores-grid-a,
    .sessao-ed-anteriores-grid-b {
        grid-template-columns: calc(var(--width-catalogo) + (2 * var(--unit-1))) 1fr 1fr 1fr;
    }


    li.letter-spacing { letter-spacing: -1px; }
}
