.option3 { 
    border-top: var(--border-indicador) solid var(--color-azul-principal);
    border-bottom: var(--border-indicador) solid var(--color-bright);
}

@media screen and (max-width:640px) {

    .option3 {
        border-top: none;
        border-bottom: none;
    }
    #option3 {
        background-color: var(--color-main-primary-hover);
    }
    
    .menu-right {
        border-top: var(--border-indicador) solid var(--color-main-primary);
        border-bottom: var(--border-indicador) solid var(--color-bright);
    }

}

/* Variáveis */
:root {
    /* Icones catalogos */
    --width-catalogo: 100px;
    --size-submenu-ed-ant: 40px;
    /* Cores de Cada Edicao */
    --color-24ed: rgb(60, 15, 82);
    --color-23ed-a: rgb(74, 101, 97);
    --color-23ed-b: rgb(94, 215, 197); /* Claro */
    --color-23ed-c: rgb(15, 89, 78); /* Curadoria */
    --color-23ed-d: rgb(249, 212, 3); /* Amarelo Curadoria */
    --color-22ed-a: rgb(143, 49, 55);
    --color-22ed-b: rgb(216, 23, 35); /* ====== */
    --color-21ed: rgb(182, 106, 39);
    --color-20ed: rgb(163, 117, 166);
    --color-19ed: rgb(121, 29, 101);
    --color-18ed: rgb(235, 97, 0);
    --color-17ed: rgb(170, 26, 23);
    --color-14ed: rgb(0,0,0);
}

.main-grid {
    grid-template-areas:
    "main-ed-anteriores"
}

/* Tipografia Específica desta página */
/* Edições Anteriores */
h1 {
    /*outline: 1px solid blue;*/
    margin-right: calc(2 * var(--margem) + 40px);
}
h2 { margin-left: unset;
}
h3 { margin-left: unset; }

/* Cores para os <h3> cada edição */
.grid-ed-ant-section-24 h3 { color: var(--color-24ed); }
.grid-ed-ant-section-23 h3 { color: var(--color-23ed-a); }
.grid-ed-ant-section-22 h3 { color: var(--color-22ed-a); }
.grid-ed-ant-section-21 h3 { color: var(--color-21ed); }
.grid-ed-ant-section-20 h3 { color: var(--color-20ed); }
.grid-ed-ant-section-19 h3 { color: var(--color-19ed); }

p.data {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: var(--unit-05);
    line-height: initial;
    font-weight: 500;
}
p:not(.menu-tipografia) { /* Título principal dentro de cada edição */
    margin-left: 0;
}

li {
    margin-left: 0;
}
ol {
    margin-top: -8px; /* Alinhar topo x no topo catalogo-icon */
}

/* Zerar margens */
.grid-ed-ant-titulo-edicao,
.grid-ed-ant-titulo-principal-a,
.grid-ed-ant-titulo-principal-b,
.grid-ed-ant-titulo-principal-c,

.grid-ed-ant-catalogo-icon-a svg,
.grid-ed-ant-catalogo-icon-b svg,
.grid-ed-ant-catalogo-icon-c svg {
    margin: unset;
}

/* Em desenvolvimento: Ocultando opcoes de edições não prontas ainda */
    #shortcut-ed-18,
    #shortcut-ed-17,
    #shortcut-ed-14 {
        display: none;
}

/* Tipografia Submenu */
.submenu-ed-anteriores a {
    font-family: var(--font-family-standard);
    text-decoration: none;
    font-size: calc(var(--font-size-p) * 1);
    color: white;
    }
    /* Hover */
    div#shortcut-ed-24:hover,
    div#shortcut-ed-23:hover,
    div#shortcut-ed-22:hover,
    div#shortcut-ed-21:hover,
    div#shortcut-ed-20:hover,
    div#shortcut-ed-19:hover {
        font-size: 22px;
    }

/* h3 */
.grid-ed-ant-subtitulo-1 h3,
.grid-ed-ant-lista-1 h3,

.grid-ed-ant-subtitulo-2 h3,
.grid-ed-ant-lista-2 h3,

.grid-ed-ant-subtitulo-3 h3,
.grid-ed-ant-lista-3 h3,

.grid-ed-ant-subtitulo-4 h3,
.grid-ed-ant-lista-4 h3,

.grid-ed-ant-subtitulo-5 h3,
.grid-ed-ant-lista-5 h3,

.grid-ed-ant-subtitulo-6 h3,
.grid-ed-ant-lista-6 h3,

h3 {
font-family: var(--font-family-standard);
font-size: var(--font-size-3);
font-weight: 500;
text-decoration: none;
}
/* Nome das pessoas */    
li {
    font-family: var(--font-family-standard);
    font-size: var(--font-size-p);
}

    /* - "Prêmio" */    
    li.premiado::after {
        font-size: var(--font-size-p);
        color: rgb(128,128,128)
    }

.main-ed-anteriores {
    padding-left: 0;
    padding-right: 0;
}


.grid-ed-ant-section-22 .linha-divisao,
.grid-ed-ant-section-23 .linha-divisao,
.grid-ed-ant-section-24 .linha-divisao {
    height: 1px;
    opacity: 0.5;
    margin-top: var(--margem);
}


/* Espaco antes de cada edição */
#ed-24, #ed-23, #ed-22, #ed-21, #ed-20, #ed-19 {
    height: 50px;
}

section {
    margin-bottom: 50px;
}

.main-ed-anteriores > h1,
.main-ed-anteriores .section > h2,
div ~ section > .linha-divisao,
.grid-ed-ant-section-24,
.grid-ed-ant-section-23,
.grid-ed-ant-section-22,
.grid-ed-ant-section-21,
.grid-ed-ant-section-20,
.grid-ed-ant-section-19 {
    margin-left: var(--margem);
}
div ~ section > .linha-divisao {
    width: calc(100% - (1 * var(--margem)));
}


/* ............................................ */
/* Estrutura */
    /* MAIN-ED-ANTERIORES */ 
    
    /* #section24 {
        width: 100%;
    } */

    /* .linha-divisao - está no main.css */

    .sessao-ed-anteriores-grid-b {
        margin-right: 16px;
    }

        .submenu-ed-anteriores {
            float: right;
            position: sticky;
            top: var(--margem);
            margin: var(--margem);
            display: flex;
            flex-direction: column;
            align-items: flex-end; 
            }

        @media screen and (max-width:640px) {
            .submenu-ed-anteriores {
                top: calc(50vh - ((6 * 40px)/ 2));
            }
        }

            /* OS LINKS QUE ESTÃO DENTRO DESTE MENU */
            .submenu-ed-anteriores a {
                text-shadow: 0px 0px 5px black;
                }

                /* SUBMENU DE CADA EDIÇÃO
                <div.submenu-ed-anteriores>
                  L <a> 
                     L <div> */

                .submenu-ed-anteriores a div {
                    width: var(--size-submenu-ed-ant);
                    height: var(--size-submenu-ed-ant);
                    transition: all 3s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                /* cores de cada edição */
                #shortcut-ed-24 { background-color: var(--color-24ed); }
                #shortcut-ed-23 { background-color: var(--color-23ed-a); }
                #shortcut-ed-22 { background-color: var(--color-22ed-a); }
                #shortcut-ed-21 { background-color: var(--color-21ed); }
                #shortcut-ed-20 { background-color: var(--color-20ed); }
                #shortcut-ed-19 { background-color: var(--color-19ed); }
                #shortcut-ed-18 { background-color: var(--color-18ed); }
                #shortcut-ed-17 { background-color: var(--color-17ed); }
                #shortcut-ed-14 { background-color: var(--color-14ed); }
                
                /* HOVER */
                #shortcut-ed-24:hover,
                #shortcut-ed-23:hover,
                #shortcut-ed-22:hover,
                #shortcut-ed-21:hover,
                #shortcut-ed-20:hover,
                #shortcut-ed-19:hover,
                #shortcut-ed-18:hover,
                #shortcut-ed-17:hover,
                #shortcut-ed-14:hover {
                    width: 56px;
                    height: 104px;
                    filter: brightness(1.6);
                    transition: all .7s ease-in-out;
                }

        /* SESSOES EDICOES ANTERIORES */
        .main-ed-anteriores section {
            /* Margem submenu*/
            margin-right: calc(var(--size-submenu-ed-ant) + 2 * var(--margem));
        }
            .sessao-ed-anteriores-grid-a h3,
            .sessao-ed-anteriores-grid-b h3 {
                /*margin-top: calc(var(--margem) + 10px);*/
                margin-bottom: 0;
            }
            .main-ed-anteriores ~ section > h3 {
                margin-top: 0;
                padding-top: calc(var(--margem) * 3);
                margin-bottom: var(--unit-05);
            }
            /* .catalogo-icon div:nth-child(2) {
                margin-bottom: -300px;
            } */
        
        li.premiado::after {
            content: "  Prêmio";
        }

        /* Display: Flex - Lista para se alinhar por baixo da div */
        .grid-ed-ant-titulo-principal-a,
        .grid-ed-ant-titulo-principal-b,
        .grid-ed-ant-titulo-principal-c {
            display: flex;
            flex-direction: column;
            /*height: 120px;*/
        }
        .grid-ed-ant-subtitulo-1,
        .grid-ed-ant-subtitulo-2,
        .grid-ed-ant-subtitulo-3,
        .grid-ed-ant-subtitulo-4,
        .grid-ed-ant-subtitulo-5,
        .grid-ed-ant-subtitulo-6 { /* Alinhar por baixo */
            /*outline: 1px solid green;*/
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
        
        .sessao-ed-anteriores-catalogos-antigos { /*última sessao, apenas Catalogos */
            border-top: 2px solid var(--color-main-primary);
            padding-top: 16px;
            display: flex;
        }
        .sessao-ed-anteriores-catalogos-antigos ol {
            margin-top: 0px;
        }

/* Dividir em 3 colunas */
@media screen and (min-width: 720px) {

    .grid-ed-ant-titulo-edicao,
    .grid-ed-ant-titulo-principal-a,
    .grid-ed-ant-titulo-principal-b,
    .grid-ed-ant-titulo-principal-c,

    .grid-ed-ant-catalogo-icon-a svg,
    .grid-ed-ant-catalogo-icon-b svg,
    .grid-ed-ant-catalogo-icon-c svg {
        margin-left:
        calc(50% - ((var(--width-catalogo) + var(--margem))/ 2));
        margin-right: 20px;
    }


    .grid-ed-ant-section-24 .linha-divisao,
    .grid-ed-ant-section-23 .linha-divisao {
        display: none;
    }
}
























/* TELAS LARGAS */
@media screen and (min-width:960px) {
    .main-grid {
        /*grid-template-areas:*/
        /*"main-ed-anteriores"*/
    }

    .titulo-artistas-a h3,
    .titulo-artistas-b h3,
    .titulo-comissao-a h3,
    .titulo-comissao-b h3,
    .titulo-curadoria-a h3 {
        margin-bottom: 0px;
    }





    /* .sessao-ed-anteriores-grid-a,
    .sessao-ed-anteriores-grid-b {
        grid-template-columns: calc(var(--width-catalogo) + (2 * var(--margem))) 1fr 1fr 1fr;
    } */


    li.letter-spacing { letter-spacing: -1px; }
}