/* Divisoes das 3 colunas da grid */
.grid-ed-ant-section-24,
.grid-ed-ant-section-23,
.grid-ed-ant-section-22,
.grid-ed-ant-section-21,
.grid-ed-ant-section-20,
.grid-ed-ant-section-19 {
    grid-template-columns: calc(var(--width-catalogo) + var(--unit-1)) 1fr 1fr;
    grid-template-columns: 0.75fr 1fr 1fr;
}

/* Lista de artistas - tirar gap entre colunas */
.grid-ed-ant-section-19 .grid-ed-ant-lista-1,
.grid-ed-ant-section-20 .grid-ed-ant-lista-1,
.grid-ed-ant-section-21 .grid-ed-ant-lista-1,
.grid-ed-ant-section-23 .grid-ed-ant-lista-1,
.grid-ed-ant-section-23 .grid-ed-ant-lista-6, /* 2ª lista de artistas */
.grid-ed-ant-section-24 .grid-ed-ant-lista-1 {
    column-gap: 0;
}


/* Grid de 3 colunas (Ref Mobile: <--- 600px ---->  */
@media screen and (min-width: 720px) {

    .grid-ed-ant-section-19,
    .grid-ed-ant-section-20,
    .grid-ed-ant-section-21,
    .grid-ed-ant-section-22,
    .grid-ed-ant-section-23,
    .grid-ed-ant-section-24 {
        display: grid;
    }

    /* Grid area de cada elemento */
    .grid-ed-ant-titulo-edicao { grid-area: titulo-edicao }

    .grid-ed-ant-linha-divisao { grid-area: linha-divisao }

    /* Tem 1 Titulo principal */
    .grid-ed-ant-section-24 > .grid-ed-ant-titulo-principal-a,
    .grid-ed-ant-section-23 > .grid-ed-ant-titulo-principal-a,
    .grid-ed-ant-section-22 > .grid-ed-ant-titulo-principal-a,
    .grid-ed-ant-section-21 > .grid-ed-ant-titulo-principal-a,
    .grid-ed-ant-section-20 > .grid-ed-ant-titulo-principal-a,
    .grid-ed-ant-section-19 > .grid-ed-ant-titulo-principal-a
                              { grid-area: titulo-principal-a }
    /* Tem 1 Catalogo */
    .grid-ed-ant-section-24 > .grid-ed-ant-catalogo-icon-a,
    .grid-ed-ant-section-23 > .grid-ed-ant-catalogo-icon-a,
    .grid-ed-ant-section-22 > .grid-ed-ant-catalogo-icon-a,
    .grid-ed-ant-section-21 > .grid-ed-ant-catalogo-icon-a,
    .grid-ed-ant-section-20 > .grid-ed-ant-catalogo-icon-a,
    .grid-ed-ant-section-19 > .grid-ed-ant-catalogo-icon-a
                            { grid-area: catalogo-icon-a }
    /* Tem 2 Titulos principais */
    .grid-ed-ant-section-23 > .grid-ed-ant-titulo-principal-b,
    .grid-ed-ant-section-22 > .grid-ed-ant-titulo-principal-b         
                            { grid-area: titulo-principal-b }
    /* Tem 2 Catalogos */
    .grid-ed-ant-section-23 > .grid-ed-ant-catalogo-icon-b,
    .grid-ed-ant-section-22 > .grid-ed-ant-catalogo-icon-b
                            { grid-area: catalogo-icon-b }

    /* Tem 3 Titulos principais */                        
    .grid-ed-ant-section-23 .grid-ed-ant-titulo-principal-c
                            { grid-area: titulo-principal-c }
    /* Tem 3 Catalogos */
    .grid-ed-ant-section-23 .grid-ed-ant-catalogo-icon-c
                            { grid-area: catalogo-icon-c }
    /* Subtitulos e Listas */                      
    .grid-ed-ant-section-24 > .grid-ed-ant-subtitulo-1,
    .grid-ed-ant-section-23 > .grid-ed-ant-subtitulo-1,
    .grid-ed-ant-section-22 > .grid-ed-ant-subtitulo-1,
    .grid-ed-ant-section-21 > .grid-ed-ant-subtitulo-1,
    .grid-ed-ant-section-20 > .grid-ed-ant-subtitulo-1,
    .grid-ed-ant-section-19 > .grid-ed-ant-subtitulo-1
                              { grid-area: subtitulo-1 }

    .grid-ed-ant-section-24 > .grid-ed-ant-lista-1,
    .grid-ed-ant-section-23 > .grid-ed-ant-lista-1,
    .grid-ed-ant-section-22 > .grid-ed-ant-lista-1,
    .grid-ed-ant-section-21 > .grid-ed-ant-lista-1,
    .grid-ed-ant-section-20 > .grid-ed-ant-lista-1,
    .grid-ed-ant-section-19 > .grid-ed-ant-lista-1
                            { grid-area: lista-1 }

    .grid-ed-ant-section-24 > .grid-ed-ant-subtitulo-2,
    .grid-ed-ant-section-23 > .grid-ed-ant-subtitulo-2,
    .grid-ed-ant-section-22 > .grid-ed-ant-subtitulo-2,
    .grid-ed-ant-section-21 > .grid-ed-ant-subtitulo-2,
    .grid-ed-ant-section-20 > .grid-ed-ant-subtitulo-2,
    .grid-ed-ant-section-19 > .grid-ed-ant-subtitulo-2
                            { grid-area: subtitulo-2 }

    .grid-ed-ant-section-24 > .grid-ed-ant-lista-2,
    .grid-ed-ant-section-23 > .grid-ed-ant-lista-2,
    .grid-ed-ant-section-22 > .grid-ed-ant-lista-2,
    .grid-ed-ant-section-21 > .grid-ed-ant-lista-2,
    .grid-ed-ant-section-20 > .grid-ed-ant-lista-2,
    .grid-ed-ant-section-19 > .grid-ed-ant-lista-2
                            { grid-area: lista-2 }

    .grid-ed-ant-section-24 > .grid-ed-ant-subtitulo-3,
    .grid-ed-ant-section-23 > .grid-ed-ant-subtitulo-3,
    .grid-ed-ant-section-22 > .grid-ed-ant-subtitulo-3,
    .grid-ed-ant-section-21 > .grid-ed-ant-subtitulo-3,
    .grid-ed-ant-section-20 > .grid-ed-ant-subtitulo-3,
    .grid-ed-ant-section-19 > .grid-ed-ant-subtitulo-3
                            { grid-area: subtitulo-3 }

    .grid-ed-ant-section-24 > .grid-ed-ant-lista-3,
    .grid-ed-ant-section-23 > .grid-ed-ant-lista-3,
    .grid-ed-ant-section-22 > .grid-ed-ant-lista-3,
    .grid-ed-ant-section-21 > .grid-ed-ant-lista-3,
    .grid-ed-ant-section-20 > .grid-ed-ant-lista-3,
    .grid-ed-ant-section-19 > .grid-ed-ant-lista-3
                            { grid-area: lista-3 }

    .grid-ed-ant-section-24 > .grid-ed-ant-subtitulo-4,
    .grid-ed-ant-section-23 > .grid-ed-ant-subtitulo-4,
    .grid-ed-ant-section-22 > .grid-ed-ant-subtitulo-4,
    .grid-ed-ant-section-21 > .grid-ed-ant-subtitulo-4,
    .grid-ed-ant-section-20 > .grid-ed-ant-subtitulo-4,
    .grid-ed-ant-section-19 > .grid-ed-ant-subtitulo-4
                            { grid-area: subtitulo-4 }

    .grid-ed-ant-section-24 > .grid-ed-ant-lista-4,
    .grid-ed-ant-section-23 > .grid-ed-ant-lista-4,
    .grid-ed-ant-section-22 > .grid-ed-ant-lista-4,
    .grid-ed-ant-section-21 > .grid-ed-ant-lista-4,
    .grid-ed-ant-section-20 > .grid-ed-ant-lista-4,
    .grid-ed-ant-section-19 > .grid-ed-ant-lista-4
                            { grid-area: lista-4 }

    .grid-ed-ant-section-24 > .grid-ed-ant-subtitulo-5,
    .grid-ed-ant-section-23 > .grid-ed-ant-subtitulo-5,
    .grid-ed-ant-section-22 > .grid-ed-ant-subtitulo-5,
    .grid-ed-ant-section-21 > .grid-ed-ant-subtitulo-5,
    .grid-ed-ant-section-20 > .grid-ed-ant-subtitulo-5,
    .grid-ed-ant-section-19 > .grid-ed-ant-subtitulo-5
                            { grid-area: subtitulo-5 }

    .grid-ed-ant-section-24 > .grid-ed-ant-lista-5,
    .grid-ed-ant-section-23 > .grid-ed-ant-lista-5,
    .grid-ed-ant-section-22 > .grid-ed-ant-lista-5,
    .grid-ed-ant-section-21 > .grid-ed-ant-lista-5,
    .grid-ed-ant-section-20 > .grid-ed-ant-lista-5,
    .grid-ed-ant-section-19 > .grid-ed-ant-lista-5
                            { grid-area: lista-5 }

    .grid-ed-ant-section-24 > .grid-ed-ant-subtitulo-6,
    .grid-ed-ant-section-23 > .grid-ed-ant-subtitulo-6,
    .grid-ed-ant-section-22 > .grid-ed-ant-subtitulo-6,
    .grid-ed-ant-section-21 > .grid-ed-ant-subtitulo-6,
    .grid-ed-ant-section-20 > .grid-ed-ant-subtitulo-6,
    .grid-ed-ant-section-19 > .grid-ed-ant-subtitulo-6
                            { grid-area: subtitulo-6 }

    .grid-ed-ant-section-24 > .grid-ed-ant-lista-6,
    .grid-ed-ant-section-23 > .grid-ed-ant-lista-6,
    .grid-ed-ant-section-22 > .grid-ed-ant-lista-6,
    .grid-ed-ant-section-21 > .grid-ed-ant-lista-6,
    .grid-ed-ant-section-20 > .grid-ed-ant-lista-6,
    .grid-ed-ant-section-19 > .grid-ed-ant-lista-6
                            { grid-area: lista-6 }

    .grid-ed-ant-section-24 { /* 1-Artistas
                                 2-Artista homenageado
                                 3-Premio Artista Convidado
                                 4-Comissão de seleção
                                 5-Comissão de premiação
                                 6-Curadoria */
        grid-template-areas:
        "titulo-edicao                 .             ."
        "linha-divisao     linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-2"
        "catalogo-icon-a         lista-1       lista-2"
        ".                       lista-1   subtitulo-3"
        ".                       lista-1       lista-3"
        ".                       lista-1   subtitulo-4"
        ".                       lista-1       lista-4"
        ".                       lista-1   subtitulo-5"
        ".                       lista-1       lista-5"
    }
    .grid-ed-ant-section-23 {
        /* 1-Artistas - Selecionados
           2-Curador - Selecionado
           3-Comissão de seleção
           4-Curadoria
           5-Comissão de premiação
           6-Artistas - Prêmio Curadoria */
        grid-template-areas:
        "titulo-edicao                 .             ."
        "linha-divisao     linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-3"
        "   catalogo-icon-a      lista-1       lista-3"
        "   catalogo-icon-a      lista-1             ."
        "   catalogo-icon-a      lista-1             ."
        "titulo-principal-b  subtitulo-4   subtitulo-5"
        "   catalogo-icon-b      lista-4       lista-5"
        "   catalogo-icon-b      .                   ."
        "titulo-principal-c  subtitulo-6   subtitulo-2"
        "   catalogo-icon-c      lista-6       lista-2"
    }

    .grid-ed-ant-section-22 { /* 1-artistas
                                 2-comissao de selecao
                                 3-comissao de premiação
                                 4-curadoria */
        grid-template-areas:
        "titulo-edicao                 .             ."
        "linha-divisao     linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-2"
        "catalogo-icon-a         lista-1       lista-2"
        "catalogo-icon-a         lista-1   subtitulo-3"
        "catalogo-icon-a         lista-1       lista-3"
        "titulo-principal-b      lista-1   subtitulo-4"
        "catalogo-icon-b         lista-1       lista-4"
    }
    .grid-ed-ant-section-22 .grid-ed-ant-lista-1 {
        column-count: 1;
    }
    .grid-ed-ant-section-21 { /* 1-artistas
                                 2-comissao de seleção e premiação
                                 3-curadoria */
        grid-template-areas:
        "titulo-edicao                 .             ."
        "linha-divisao     linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-2"
        "catalogo-icon-a         lista-1       lista-2"
        "catalogo-icon-a         lista-1   subtitulo-3"
        "catalogo-icon-a         lista-1       lista-3"
        "catalogo-icon-a         lista-1   subtitulo-4"
        "catalogo-icon-a         lista-1       lista-4"
        "catalogo-icon-a         lista-1             ."
    }
    .grid-ed-ant-section-20,
    .grid-ed-ant-section-19 { /* 1-artistas
                                 2-comissao de seleção e premiação
                                 3-curadoria */
        grid-template-areas:
        "titulo-edicao                 .             ."
        "linha-divisao     linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-2"
        "catalogo-icon-a         lista-1       lista-2"
        "catalogo-icon-a         lista-1   subtitulo-3"
        "catalogo-icon-a         lista-1       lista-3"
        "catalogo-icon-a         lista-1             ."
    }

}

@media screen and (min-width:1024px) {
    /* Divisoes das 3 colunas da grid */
    .grid-ed-ant-section-24,
    .grid-ed-ant-section-23,
    .grid-ed-ant-section-22,
    .grid-ed-ant-section-21,
    .grid-ed-ant-section-20,
    .grid-ed-ant-section-19 {
    grid-template-columns: calc(var(--width-catalogo) + calc(4 * var(--unit-1))) 1fr 1fr 1fr;
    grid-template-columns: 0.75fr 1fr 1fr 1fr;
}
    .grid-ed-ant-section-24 {
        grid-template-areas:
        "titulo-edicao                 .             .             ."
        "linha-divisao     linha-divisao linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-1   subtitulo-2"
        "catalogo-icon-a         lista-1       lista-1       lista-2"
        ".                       lista-1       lista-1       lista-2"
        ".                       lista-1       lista-1       lista-2"
        ".                   subtitulo-3   subtitulo-4   subtitulo-5"
        ".                       lista-3       lista-4       lista-5"
    }
    .grid-ed-ant-section-24 .grid-ed-ant-lista-1 {
        column-count: 2;
    }
    .grid-ed-ant-section-23 { /* 1-Artistas - Selecionados
                                 2-Curador - Selecionado
                                 3-Comissão de seleção
                                 4-Curadoria
                                 5-Comissão de premiação
                                 6-Artistas - Prêmio Curadoria */
        grid-template-areas:
        "titulo-edicao                 .             .             ."
        "linha-divisao     linha-divisao linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-1   subtitulo-1"
        "   catalogo-icon-a      lista-1       lista-1       lista-1"
        "titulo-principal-b  subtitulo-5   subtitulo-3   subtitulo-4"
        "   catalogo-icon-b      lista-5       lista-3       lista-4"
        "titulo-principal-c  subtitulo-6   subtitulo-6   subtitulo-2"
        "   catalogo-icon-c      lista-6       lista-6       lista-2"
    }
    .grid-ed-ant-section-23 .grid-ed-ant-lista-1 {
        column-count: 3;
    }
    .grid-ed-ant-section-23 .grid-ed-ant-lista-6 {
        column-count: 2;
    }
    .grid-ed-ant-section-22 { /* Catálogos: 2
                                 1-artistas
                                 2-comissao de selecao
                                 3-comissao de premiação
                                 4-curadoria */
        grid-template-areas:
        "titulo-edicao                 .             .             ."
        "linha-divisao     linha-divisao linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-1   subtitulo-1"
        "catalogo-icon-a         lista-1       lista-1       lista-1"
        "titulo-principal-b  subtitulo-2   subtitulo-3   subtitulo-4"
        "catalogo-icon-b         lista-2       lista-3       lista-4"
        "catatogo-icon-b               .             .             ."
    }
    .grid-ed-ant-section-22 .grid-ed-ant-lista-1 {
        column-count: 3;
    }
    .grid-ed-ant-section-21 { /* 1-artistas
                                 2-comissao de seleção
                                 3-comissao de premiação
                                 3-curadoria */
        grid-template-areas:
        "titulo-edicao                 .             .             ."
        "linha-divisao     linha-divisao linha-divisao linha-divisao"
        "titulo-principal-a  subtitulo-1   subtitulo-1   subtitulo-1"
        "catalogo-icon-a         lista-1       lista-1       lista-1"
        "catalogo-icon-a     subtitulo-2   subtitulo-3   subtitulo-4"
        "catalogo-icon-a         lista-2       lista-3       lista-4"
    }
    .grid-ed-ant-section-21 .grid-ed-ant-lista-1 {
        column-count: 3;
    }
    .grid-ed-ant-section-20,
    .grid-ed-ant-section-19 { /* 1-artistas
                                 2-comissao de seleção e premiação
                                 3-curadoria */
    grid-template-areas:
    "titulo-edicao                 .             .             ."
    "linha-divisao     linha-divisao linha-divisao linha-divisao"
    "titulo-principal-a  subtitulo-1   subtitulo-1   subtitulo-2"
    "catalogo-icon-a         lista-1       lista-1       lista-2"
    "catalogo-icon-a         lista-1       lista-1   subtitulo-3"
    "catalogo-icon-a         lista-1       lista-1       lista-3"
    "catalogo-icon-a         lista-1       lista-1             ."
    }
    .grid-ed-ant-section-20 .grid-ed-ant-lista-1,
    .grid-ed-ant-section-19 .grid-ed-ant-lista-1 {
        column-count: 2;
    }

    /* ir corrigindo elementos que ficam em grid areas erradas nesta configuracao */

    .grid-ed-ant-lista-1 li {
        /*outline: 1px solid blue;*/
    }

}