:root {
    /*--height-menu-opened-mobile: 150px;*/
    --alinhamento-menu-y: 7px;
}
/* <header>
     < .menu-bar>
       <nav .menu-left>
       <nav.menu-right> */

header {
    margin: 0 auto;
    height: var(--height-menu-opened-mobile);
    transition: height 2s ease;

    /*transition: height 2s ease-in-out;*/
    background-color: var(--color-azul-principal);
}
    .menu-bar {
        width: 320px;
        display: flex;                        /* <nav> para os lados    */
        align-items: center;                  /* centralizar elas ^ e V */
        /*transition: all 2s ease-in-out;*/
        height: 100%;
        margin: 0 auto;                       /* --> |320px| <-- center */
        }

        .menu-left,
        .menu-right {
            width: 50%;
        }
        .menu-left {
            display: flex;
            align-items: center;
        }
        .menu-right {
            display: flex;
            flex-direction: column;
            transition: display 3s ease;
        }


        .menu-left,
        .menu-right {
            /*outline: 1px solid white;*/
            height: calc(100% - (2 * var(--border-indicador)));
        }
            .menu-left a {
                display: flex;
                justify-content: center;
                width:100%;
                height: 100%;
                /*background-color: green;*/
            }
            .menu-right a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .menu-left a,
            .menu-right a {
                padding: 0 var(--unidade);
               

                background-color: unset;
                transition: background-color 2s ease;
            }
            .menu-right a {
                height: calc((var(--height-menu-opened-mobile) / 3) - ((2 * var(--border-indicador) / 3)));
                /* = (height máx) - (height que --border-indicador ocupam / # de options) */
                /* transition: height 2s ease; */

                width: calc((320px / 2) - (2 * var(--unidade)));
            }

            .menu-left a:hover,
            .menu-right a:hover {
                background-color: var(--color-azul-hover);
                transition: background-color 2s ease;
            }
                .option1, .option2, .option3 {
                    width: 100%;

                }

                .menu-right p { /* Cada <p> */
                    margin: auto 0 auto auto;
                }






            a.menu-icon { /* Icone do Menu */
                    display: none;
                }

            .logo-salao {
                fill-rule: evenodd;
                clip-rule: evenodd;
                width: 100%;
                /*height: 48px;*/
                }
                .logo-norte,
                .logo-nordeste,
                .logo-centro-oeste,
                .logo-sudeste,
                .logo-sul { /* Mapas - Linhas */
                    stroke: var(--color-laranja-principal);
                    stroke-width: 11;
                }
                .fill_1 { /* Contornos */
                    fill: none;
                }
                .fill_2 { /* Título na logo */
                    fill: white;
                }


            a.menu-icon,
            a.menu-option {
                color: white;
            }
            a.menu-option:hover {
                /*background-color: red;*/
            }
                .hover-menu {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }

                    p#option1 {

                    }
                    p#option2 {

                    }
                    p#option3 {

                    }

@media screen and (min-width: 600px) {

    header {
        height: var(--height-menu-pc);
        /*transition: height 2s ease-in-out;*/
    }

        .menu-bar {
            justify-content: space-between;
            width: calc(100vw - 180px);
            height: 100%;
        }

            /* Cada pagina substitui este valor se tiver o border no menu */
            .menu-left,
            .menu-right {
                height: 100%;
            }
            /* revisar */
            .menu-left {
                display: flex;
                width: 160px;

                flex-shrink: 0;

                /*padding-right: var(--unidade); /* < ----- Espaço da logo */
                /*padding-left: var(--unidade);  /* e ----> da logo salao  */

            }
            .menu-left:hover { 
            }
                .menu-left a {
                    display: flex;
                    width: 100%;
                    height: 100%;

                    padding: 0;
                }
                    .logo-salao {
                        width: calc(100% - 2 * var(--unidade));
                        height: 100%;
                    }
            

            .menu-right {
                width: 360px;
                height: 100%;

                display: flex;
                flex-direction: row;
                transition: display 3s ease;
                text-align: center; /* centralizar <p> de cada menu */
            }
                .menu-right a {
                padding: 0;
                
                }
                .menu-right a {
                    width: calc(100% / 3);
                    /* transition: height 2s ease;  */
                    height: 100%;
                    /*height: calc((100%) - (2 * var(--border-indicador)))*/;
                }



                a.menu-option {
                    
                }

                    .menu-right p { /* options no menu */
                        margin: auto;
                    }    
        



            .option1,
            .option2,
            .option3 {
                /*width: calc(100% - 2* var(--unidade));*/
            }
            
        }


@media screen and (min-width: 960px) {
    .menu-bar {
        max-width: 960px;
    }
}