/* <header>
     < .menu-bar>
       <nav.menu-left>
       <nav.menu-right> */

header {
    width: 100%;
    height: var(--height-header-expanded);

    margin: 0 auto;
    transition: height 2s ease;

    background-color: var(--color-main-primary);
}
    .menu-bar {
        width: calc(var(--width-mobile) - 2 * var(--margem));
        display: flex;                        /* <nav> para os lados    */
        align-items: center;                  /* centralizar elas ^ e V */
        /*transition: all 2s ease-in-out;*/
        height: 100%;
        margin: 0 auto;                       /* --> |--width-mobile| <-- center */
        }

        /* Proporção entre cada lado do menu */
        .menu-left  { width: 100%; }
        .menu-right { width: 100%; }

        /* Altura deles */
        .menu-left,
        .menu-right {
            height: calc(100% - (2 * var(--border-indicador)));
        }
        .menu-left {
            display: flex;
            align-items: center;
        }
        .menu-right {
            display: flex;
            flex-direction: column;
            transition: display 3s ease;
        }

            .menu-left a {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
            .menu-right a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .menu-left a {
                padding: 0 var(--margem);
            }

            .menu-left a,
            .menu-right a {
                
                background-color: unset;
                transition: background-color 2s ease;
            }
            .menu-right a {
                height:
                calc((var(--height-header-expanded) / 3) - ((2 * var(--border-indicador) / 3)));
                /* = (height máx) - (height que --border-indicador ocupam / # de options) */

                /*width: calc((var(--width-mobile) / 2) - (2 * var(--margem)));*/
                width: 100%;
            }

            .menu-left a:hover,
            .menu-right a:hover {
                background-color: var(--color-main-primary-hover);
                transition: background-color 2s ease;
            }
                .option1, .option2, .option3 {
                    width: 100%;
                }

                .menu-right p { /* Cada <p> */
                    margin: auto 0 auto auto;
                    padding-right: var(--margem);
                }

            a.menu-icon { /* Icone do Menu - Em desenvolvimento */
                    display: none;
                }

            .logo-salao {
                fill-rule: evenodd;
                clip-rule: evenodd;
                width: 100%;
                /* Tamanho se define pelo width do menu */
                }
                .logo-norte,
                .logo-nordeste,
                .logo-centro-oeste,
                .logo-sudeste,
                .logo-sul { /* Mapas - Linhas */
                    fill: none;
                    stroke: var(--color-main-secondary);
                    stroke-width: 11;
                }
                .logo-tipografia {
                    fill: white;
                }


            a.menu-icon,
            a.menu-option {
                color: white;
            }

                .hover-menu {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }

@media screen and (min-width: 640px) {

    header {
        height: var(--height-header-desktop);
    }
        .menu-bar {
            justify-content: space-between;
            width: calc(100% - 18 * var(--margem));
            height: 100%;
        }
            /* Cada pagina substitui este valor se tiver o border no menu */
            .menu-left,
            .menu-right {
                height: 100%;
            }
            /* revisar */
            .menu-left {
                display: flex;
                width: var(--width-menu-left-desktop);

                flex-shrink: 0;

            }
            .menu-left:hover {
                background-color: var(--color-main-primary-hover);
                transition: background-color 2s ease;
            }
                .menu-left a {
                    display: flex;
                    width: 100%;
                    height: 100%;

                    padding: 0;
                }
                    .logo-salao {
                        width: calc(100% - 2 * var(--margem));
                        height: 100%;
                    }
            
            .menu-right {
                width: var(--width-menu-right-desktop);
                height: 100%;

                display: flex;
                flex-direction: row;
                transition: display 3s ease;
                text-align: center; /* centralizar <p> de cada menu */
            }
                .menu-right a {
                padding: 0;
                
                }
                .menu-right a {
                    width: calc(100% / 3);
                    height: 100%;
                }

                .menu-right p { /* options no menu */
                    margin: auto;
                    padding: unset;
                }    
}

@media screen and (min-width: 960px) {
    .menu-bar {
        max-width: var(--width-desktop);
    }
}