/* Específica para ícones e animações deles */

/* ARQUIVO */
div.arquivo {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-top: var(--unit-1);
    }

    /*Icone arquivo pag + informacoes */
    div.arquivo > div {
        width: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: var(--unit-1);
    }
    /* --- SVG ARQUIVO ICON --- */
    svg.arquivo-icon {
        width: 48px;
        }
        /* ESTILIZAÇÃO */
        svg .fundo { fill: red; }
        svg .dobra { fill: rgb(167, 0, 0); /* Vermelho um pouco mais escuro */
                     stroke-width: 0; }
        svg .recorte-dobra { fill:white; }
        svg path.lupa,
        svg polygon.lupa { fill: white;
                           animation: lupa 2s infinite alternate ease; }
        /* Escrito PDF */
        .arquivo-icon-hover .rotulo { fill: white; }
            
        /* HOVER */
        g.arquivo-icon-hover {
            transform: translateX(0);
            transition: transform 1s ease;
        }
        g.arquivo-icon-hover:hover {
            transform: translateX(47px); /* ~ Metade viewbox do svg */
        }
        
        /* INDICADOR */
        svg.arquivo-icon.indicador {
            width: 15px;
        }
        svg.arquivo-icon polyline.indicador {
            fill: none;
            stroke: var(--color-base);
            stroke-width: 1.5;
            transform: translateY(0px);
            animation-name: indicadorarquivo;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes indicadorarquivo {
            50% {
                transform: translateY(3px);
            }
        }

    /* último div.arquivo sem margem-bottom */
    div div.arquivo:last-of-type {
        margin-bottom: var(--unit-1);
    }

/* === PÁGINA EDIÇÕES ANTERIORES === */
/* Icones dos catalogos */
svg.catalogo-24,
svg.catalogo-23a,
svg.catalogo-23b,
svg.catalogo-23c,
svg.catalogo-22a,
svg.catalogo-22b,
svg.catalogo-21,
svg.catalogo-20,
svg.catalogo-19,
svg.catalogo-18 {
    width: var(--width-catalogo);
}
    .catalogohover {
        transform: translateY(0px); /* Posicao inicial hover */
        transition: transform 2s cubic-bezier(.79,0,1,1); /* Transicao para esta posicao inicial */
    }
    /* Hover */
    .catalogohover:hover {
        transform: translateX(100px);
        transition: transform 1s ease;
        }
        .lupa {
            fill: white;
        }
    /* Capa */
    .catalogo-24 .capacatalogo { fill: var(--color-24ed); }
    .catalogo-23a .capacatalogo { fill: var(--color-23ed-a); }
    .catalogo-23b .capacatalogo { fill: var(--color-23ed-b); } 
    .catalogo-23c .capacatalogo { fill: var(--color-23ed-c); }
    .catalogo-22a .capacatalogo { fill: var(--color-22ed-a); }
    .catalogo-22b .capacatalogo { fill: var(--color-22ed-b); }
    .catalogo-21 .capacatalogo { fill: var(--color-21ed); }
    .catalogo-20 .capacatalogo { fill: var(--color-20ed); }
    .catalogo-19 .capacatalogo { fill: var(--color-19ed); }
    .catalogo-18 .capacatalogo { fill: var(--color-18ed); }
    .catalogo-17 .capacatalogo { fill: var(--color-17ed); }
    .catalogo-14 .capacatalogo { fill: var(--color-14ed); }

    /* Rótulos na capa */
    /* Stroke */
    svg.catalogo-24 > .rotulo { stroke: white; }
    svg.catalogo-23a > .rotulo { stroke: var(--color-23ed-b); }
    svg.catalogo-23b > .rotulo { stroke: var(--color-23ed-a); }
    svg.catalogo-23c > .rotulo { stroke: var(--color-23ed-d); }
    svg.catalogo-22a > .rotulo { stroke: white; }
    svg.catalogo-22b > .rotulo { stroke: white; }
    svg.catalogo-21 > .rotulo { stroke: white; }
    svg.catalogo-20 > .rotulo { stroke: white; }
    svg.catalogo-19 > .rotulo { stroke: white; }
    svg.catalogo-18 > .rotulo { stroke: white; }
    svg.catalogo-17 > .rotulo { stroke: white; }
    svg.catalogo-14 > .rotulo { stroke: white; }
    .catalogo-14 svg polygon {stroke: white; }
    /* FILL - NONE */
    .rotulo { fill: none; }

    /* INDICADOR EMBAIXO DO CATALOGO E ANIMACAO */
    .indicadorcatalogo {
    fill: none;
    stroke: var(--color-base);
    stroke-width: 1.5;
    transform: translateY(0px);
    animation-name: indicadorcatalogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    
    @keyframes indicadorcatalogo {
        50% {
        transform: translateY(3px);
        }
    }