/* Folha de estilos específica para:
   Ícones e suas animações

== classes (tipos):
- .arquivo-pdf-icon
- .arquivo-word-icon (para os templates baixáveis - em construção)
- .icon-catalogo
*/

/* --- Todo ícone de arquivo --- */
.icon-arquivo {
    width: 48px;
    margin-top: var(--margem);
}

    .arquivo-item div {
        width: 48px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinhar indicador junto*/

        margin-left: var(--margem);
    }
    .arquivo-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        /* ESTILIZAÇÃO */
        .icon-pdf .fundo { fill: red; }
        .icon-pdf .dobra { fill: rgb(167, 0, 0); /* Vermelho um pouco mais escuro */
                     stroke-width: 0; }
        .icon-pdf .recorte-dobra { fill:white; }
        .icon-arquivo .lupa { fill: white;
                           animation: lupa 2s infinite alternate ease; }
        /* Escrito PDF */
        .icon-arquivo .rotulo { fill: white; }
            
        /* HOVER */
        .icon-arquivo g.hover {
            transform: translateX(0);
            transition: transform 1s ease;
        }
        .icon-arquivo g.hover:hover {
            transform: translateX(47px); /* ~ Metade viewbox do svg */
        }
        
        /* SVG INDICADOR */
        .indicador {
            width: 15px;

            margin-bottom: calc(var(--margem) - 12px);
        }
        polyline.indicador {
            fill: none;
            stroke: var(--color-dark);
            stroke-width: 1.5;
            transform: translateY(0px);
            animation-name: indicadorarquivo;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes indicadorarquivo {
            50% {
                transform: translateY(3px);
            }
        }

/* === .icon-catalogo === */
/* Ícones dos catalogos */
.icon-catalogo {
    width: var(--width-catalogo);
    /*margin-top: var(--margem);*/

    display: flex; /* Indicador ficar em baixo */
}
    .icon-catalogo .hover {
        transform: translateY(0px); /* Posição inicial hover */
        transition: transform 2s cubic-bezier(.79,0,1,1); /* Transição para esta posiçã inicial */
    }
    /* Hover */
    .icon-catalogo .hover:hover {
        transform: translateX(100px);
        transition: transform 1s ease;
        }
        .lupa {
            fill: white;
        }
    /* Capa */
    .icon-catalogo.ed24 .capa { fill: var(--color-24ed); }
    .icon-catalogo.ed23a .capa { fill: var(--color-23ed-a); }
    .icon-catalogo.ed23b .capa { fill: var(--color-23ed-b); } 
    .icon-catalogo.ed23c .capa { fill: var(--color-23ed-c); }
    .icon-catalogo.ed22a .capa { fill: var(--color-22ed-a); }
    .icon-catalogo.ed22b .capa { fill: var(--color-22ed-b); }
    .icon-catalogo.ed21 .capa { fill: var(--color-21ed); }
    .icon-catalogo.ed20 .capa { fill: var(--color-20ed); }
    .icon-catalogo.ed19 .capa { fill: var(--color-19ed); }
    .icon-catalogo.ed18 .capa { fill: var(--color-18ed); }
    .icon-catalogo.ed17 .capa { fill: var(--color-17ed); }
    .icon-catalogo.ed14 .capa { fill: var(--color-14ed); }

    /* Rótulos na capa */
    /* Stroke */
    .icon-catalogo.ed24 .rotulo { stroke: white; }
    .icon-catalogo.ed23a .rotulo { stroke: var(--color-23ed-b); }
    .icon-catalogo.ed23b .rotulo { stroke: var(--color-23ed-a); }
    .icon-catalogo.ed23c .rotulo { stroke: var(--color-23ed-d); }
    .icon-catalogo.ed22a .rotulo { stroke: white; }
    .icon-catalogo.ed22b .rotulo { stroke: white; }
    .icon-catalogo.ed21 .rotulo { stroke: white; }
    .icon-catalogo.ed20 .rotulo { stroke: white; }
    .icon-catalogo.ed19 .rotulo { stroke: white; }
    .icon-catalogo.ed18 .rotulo { stroke: white; }
    .icon-catalogo.ed17 .rotulo { stroke: white; }
    .icon-catalogo.ed14 .rotulo { stroke: white; }
    .icon-catalogo.ed14 svg polygon {stroke: white; }
    /* FILL - NONE */
    .rotulo { fill: none; }

    /* INDICADOR EMBAIXO DO CATALOGO E ANIMACAO */
    svg .indicador {
    fill: none;
    stroke: var(--color-dark);
    stroke-width: 1.5;
    transform: translateY(0px);
    animation-name: indicadorcatalogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    
    @keyframes indicadorcatalogo {
        50% {
        transform: translateY(3px);
        }
    }