img.banner-texto {
    width: 100%;
}


/* ESPACAMENTOS INTERNOS DAS FOLHAS */

    /* Espaço na ultima linha */
    /* .main-calendario > div:last-child > p {
        padding-bottom: var(--unit-1);
    } */
/* Tirando nas que não precisam */
div.main-publicacoes {
    padding: 0;
}
