/* Grid areas */
.main-texto               { grid-area: main-texto }
.main-calendario          { grid-area: main-calendario }

.main-info                { grid-area: main-info }
.main-galeria-fotos       { grid-area: main-galeria-fotos }
.main-publicacoes         { grid-area: main-publicacoes }
.main-sobregaleria        { grid-area: main-sobregaleria }
.main-equipe-tecnica      { grid-area: main-equipe-tecnica }

.main-inscricao-etapa1    { grid-area: main-inscricao }
.main-inscricao-downloads { grid-area: main-inscricao-downloads }

.main-ed-anteriores       { grid-area: main-ed-anteriores }

/* VARIÁVEIS */
:root {
    /* UNIDADES: MARGINS E PADDINGS */
    --unidade: 16px;
    --unit-05: 10px; /* descontinuar */

    --unit-min: 560px;
    --unit-ref: 640px;
    --unit-max: 1004px;

    --height-menu-pc: 80px;
    --height-menu-opened-mobile: 150px;
    --border-indicador: 3px;

    --height-footer-pc: 128px;
    --height-footer-mobile: 270px;

    /* CORES */
    --color-azul-principal: #085273;
    --color-outline-menu-bar: #0b415a;
    --color-azul-hover: #1b6588;
    --color-laranja-principal: #D49100;
    --color-background: #bdcfd8;
    --color-base: black;
    --color-base-clara: white;
    /* DETALHES */
    --color-outline-folha: rgb(190, 190, 190);
    --box-shadow-folha: 0 0 68px -48px black;
}

* {
    /* outline: 1px solid blue; */
}
/* GERAL */
html {
    height: 100%;
    min-width: 320px;
    scroll-behavior: smooth; }

body, img { display: block; margin: 0;}

/* Mobiles com notch */
body { background-color: var(--color-azul-principal); }

/* Clase antiga linha-divisao */
.grid-ed-ant-linha-divisao {
    height: 2px;
    width: 100%;
    background-color: var(--color-azul-principal);
}

main {
    background-size: 25vw;
    min-height:
    calc(100vh - (var(--height-menu-opened-mobile) + var(--height-footer-mobile)));
    /*padding: 0 var(--unit-05); /* [<--- e --->] */
}
    /* Espacamento do main-grid entre header e footer */
    .main-grid {
        padding-top: var(--unidade);
        padding-bottom: var(--unidade);

        width: 320px;
        /* padding: var(--unit-05) 0; */
        transition: padding 3s ease;
        margin: 0 auto;
        display: grid;
        grid-gap: var(--unidade);
        min-height: calc(100% - 20px);
    }

    /* Cada bloco de todas as páginas */
    .main-texto,
    .main-calendario,
    .main-info,
    .main-galeria-fotos,
    .main-publicacoes,
    .main-sobregaleria,
    .main-equipe-tecnica,
    .main-inscricao-etapa1,
    .main-downloads,
    .main-ed-anteriores {
        background: white;

        height: 100%;
    }

    
    h1 {
        margin-left: var(--unidade);
    }
    /* Margens em cima e baixo - h1 e imagem de cada bloco */
    h1 {
        margin-top: calc((var(--unidade) * 1.6) - 12px); /* ajuste de baseline*/
        margin-bottom: calc(var(--unidade) * 1.6);
    }
    img {
        margin-top: calc(var(--unidade) * 1.6);
        margin-bottom: calc(var(--unidade) * 1.6);
    }

            .main-ed-anteriores {
                width: 100%;
            }

    

            /* Setando toda div que tem conteúdo para ocupar a altura max possivel na main-grid */
            .main-texto,
            .main-calendario,
        /*  .main-info, */
        /*  .main-galeria-fotos, */
            .main-publicacoes,
            .main-sobregaleria,
        /*  .main-inscricao-etapa1, */
            .main-downloads,
            .main-ed-anteriores {
                height: 100%;
            }

            /* BORDA INTERNA */
            /* .main-center > div, /* Aplicando em toda div filha de main-center e de main-right 
            .main-right > div:not(.main-calendario) { /* Com excessao do calendario
                padding-left: var(--unidade);
                padding-right: var(--unidade);
            } */

 
            /* ESPACAMENTO */
            /* Aplicando em baixo entre as divs
            Excessao: última */
            .main-center > div:not(:last-child),
            .main-right > div:not(:last-child) {
                margin-bottom: var(--unit-05);
            }
            /* ESTILIZACAO  DAS DIVS */
            .main-center > div,
            .main-right > div {
                background-color: var(--color-base-clara);
                outline: 1px solid var(--color-outline-folha);
                box-shadow: var(--box-shadow-folha);
            }
    /* .MAIN-CALENDARIO ...... */

        /* Barra ao lado da data */
        /* Aplica em todas as datas com a cor do fundo */
        .main-calendario > div {
            border-left: var(--border-indicador) solid var(--color-base-clara);
        }
        /* Com a cor em uso, aplicar só na data ativa */
        .main-calendario > div:nth-child(4) {
            border-left: var(--border-indicador) solid var(--color-azul-principal);
        }
        
/* Mobile
@media screen and (max-width:620px) {


        Espaçar 1a div para ver o background
        .main-grid {
            max-width: 300px;
            padding-top: 40px;
            transition: 2s padding-top ease-in-out;
        }

            .submenu-ed-anteriores {
                top: calc(50vh - 180px);
            } */

/* Tela média */
@media screen and (min-width:600px) {
    main {
        min-height: calc(100vh - calc(var(--height-menu-pc)) - var(--height-footer-pc));
    }
    .main-grid {
        width: calc(100vw - 180px);
    }
    .main-ed-anteriores {
        /*width: calc(100vw - 80px - (2 * var(--unidade)));*/
    }
}






/* Telas largas */
@media screen and (min-width:960px) {

    /* MAIN */
    main {
        /* display: flex;
        align-items: stretch; */
        /*min-height: calc(100vh - 80px - 128px);*/
    }
        .main-grid {
            max-width: 960px;
        }
}
            .main-ed-anteriores {
                margin: 0 auto;
            }
