/* Tipografia */
li {
    font-family: var(--font-normal);
    font-size: var(--font-size-1); }

h5 { /* Para tirar espaçamento no topo - Equipe Técnica */
    margin-top: 0;
}

/*.main-center: */
/*      MAIN-INFO */
/*      MAIN-GALERIA-FOTOS */

/* .main-right: */
/*      MAIN-PUBLICACOES */
/*      MAIN-SOBRE-GALERIA */
/*      MAIN-EQUIPE-TECNICA */

img.banner-info {
    width: 100%;
}

/* GALERIA DE FOTOS */
.galeria-fotos {
    display: flex;
    max-width: 640px;
    
}
    .galeria-item {
        max-width: 100%;
        height: 100%;
        margin-bottom: var(--unit-1);
    }
        .galeria-item > img {
            width: 100%;
            filter: brightness(100%);
            transition: filter 1.5s;
        }
        .galeria-item > img:hover {
            filter: brightness(150%);
            transition: filter 1.5s;
        }

/* ARQUIVO */
div.arquivo {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-top: var(--unit-1);
    }

    div.arquivo div {
        width: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* --- SVG ARQUIVO ICON --- */
    svg.arquivo-icon {
        width: 48px;
        }
        /* ESTILIZAÇÃO */
        svg .fundo { fill: red; }
        svg .dobra { fill: rgb(167, 0, 0); /* Vermelho um pouco mais escuro */
                     stroke-width: 0; }
        svg .recorte-dobra { fill:white; }
        svg path.lupa,
        svg polygon.lupa { fill: white;
                           animation: lupa 2s infinite alternate ease; }
        /* Escrito PDF */
        svg polygon.rotulo { fill: white; }
            
        /* HOVER */
        g.arquivo-icon-hover {
            transform: translateX(0);
            transition: transform 1s ease;
        }
        g.arquivo-icon-hover:hover {
            transform: translateX(47px); /* ~ Metade viewbox do svg */
        }
        
        /* INDICADOR */
        svg.arquivo-icon.indicador {
            width: 15px;
        }
        svg.arquivo-icon polyline.indicador {
            fill: none;
            stroke: var(--color-base);
            stroke-width: 1.5;
            transform: translateY(0px);
            animation-name: indicadorarquivo;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes indicadorarquivo {
            50% {
                transform: translateY(3px);
            }
        }

    /* último div.arquivo sem margem-bottom */
    div div.arquivo:last-of-type {
        margin-bottom: var(--unit-1);
    }

        /* .main-publicacoes
        .. L .publicacoes
        ..   L .arquivo */

            .interrogacao {
                display: flex;
                justify-content: flex-end;
                height: 0px;
            }
            .interrogacao h1:first-of-type {
                font-size: calc(var(--font-size-h1) * 3);
                transform: rotate(15deg);
                transform-origin: 0px 85px;
                animation-name: interrogacao;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                text-shadow: white 1px 1px;
            }
            @keyframes interrogacao {
                0% { margin-top: -80px; }
                50% { margin-top: -50px; }
                100% { margin-top: -80px; }
            }


            .main-equipe-tecnica p {
                margin-top: 0px;
            }

/* TELAS PEQUENAS */
@media screen and (max-width:560px) {
    .galeria-fotos {
        display: block;
    }

}

@media screen and (min-width:1036px) {
    .main-ed-anteriores {
        min-width: 972px;
    }

}
