/* Rules Mobile */
:root {
    /* Always hover */
    --main-menu-button-background: var(--color-main-primary-hover);

    --border-left-main-menu: 3px solid white;
    --border-left-main-menu-off: 3px solid var(--color-main-primary);
    --border-bottom-main-menu: none;
    --border-bottom-main-menu-off: none;

    --main-title-area: 600px;

}
main {
    background-color: rgb(230, 247, 255);
}
/*
1) Tipografia
2) Imagens
3) Header
4) Main
5) Footer
*/
/* 1) Tipografia */
.menu-right p {
    text-align: right;

    margin-left: auto;
    margin-right: var(--margin);

    margin-bottom: auto;
    margin-top: auto;


    /* margin-top: -9px; */
}

h3 {
    margin-top: 5px;
}

.menu-bar {
    display: grid;
    grid-template-columns: 180px 1fr;
    margin: 0 auto;
}



.menu-right {
    display: flex;
    flex-direction: column;

    height: var(--mainMenuHeight);
    transition: height 1s ease;
}
.menu-opened .menu-right {
    overflow-y: scroll
}
.menu-right > * {
    /* margin-top: calc(var(--margin)/2); */
    /* margin-bottom: calc(var(--margin)/2); */
}

.menu-right #main-menu-option2,
.menu-right #main-menu-option3,
.menu-right #main-menu-option4 {
    /* outline: 1px dashed white; */
    /* background-color: brown; */
    height: 55px;
}
.menu-right a div {
    display: flex;
    flex-direction: column;

}


.open-close-menu-button {
    /* position: absolute; */
    /* right: var(--margin); */

    height: 30px;
    width: 30px;
    /* background-color: blue; */
    outline: 1px solid white;

    margin-left: auto;
    /* Esquerda */
    /* margin-right: var(--margin); */
    /* No meio */
    margin-right: auto;
}
.welcome-img {
    /* width: 100%; */
}


/* 3) Header */
header svg {
    /* max-height: 60px; */
}
.menu-bar {
    /* height: var(--menu-heigth-mobile); */

}
.menu-bar .open-close-menu-button {
    margin: auto;
    margin-right: var(--margin);
}

#main-menu-option2,
#main-menu-option3,
#main-menu-option4 {
    display: none;
}

.menu-opened #main-menu-option2,
.menu-opened #main-menu-option3,
.menu-opened #main-menu-option4 {
    display: flex;
}

#main-menu-option1 {
    height: var(--mainMenuHeight);
    transition: height 1s ease;
}
#main-menu-option1 svg {
    margin-left: var(--margin);
    margin-right: var(--margin);
}


.this-edition-list > h3:nth-of-type(1),
.this-edition-list > h3:nth-of-type(2) {
margin-top: -9px;
}

