:root {
    --width-catalogo-mobile: 120px;
    --width-catalogo-desktop: 120px;

    --color-24ed: rgb(60, 15, 82);
    --color-23ed-a: rgb(74, 101, 97);
    --color-23ed-b: rgb(94, 215, 197); /* Claro */
    --color-23ed-c: rgb(15, 89, 78); /* Curadoria */
    --color-23ed-d: rgb(249, 212, 3); /* Amarelo Curadoria */
    --color-22ed-a: rgb(143, 49, 55);
    --color-22ed-b: rgb(216, 23, 35); /* ====== */
    --color-21ed: rgb(182, 106, 39);
    --color-20ed: rgb(163, 117, 166);
    --color-19ed: rgb(121, 29, 101);
    --color-18ed: rgb(235, 97, 0);
    --color-17ed: rgb(170, 26, 23);
    --color-14ed: rgb(0,0,0);

    --font-size-h4: 20px;

    --margin-top-h4: -5px;
    --margin-bottom-h4: -6px;
}

ol {
    margin: 0;
    padding: 0;
}
li {
    font-family: var(--font-family-primary-a);
    font-size: 15px;
}

.data {
    font-size: 12px;
    text-align: center;

    /* margin-left: calc(-1 * var(--margin)); */

    /* padding-left: var(--margin); */
    /* padding-right: var(--margin); */
}
.nome-exposicao {
    text-align: center;
}


.block {
    /* outline: 1px solid red; */
}
h3 {
    margin-top: var(--margin-top-h3);
    margin-bottom: var(--margin-bottom-h3);
}

h4 {
    font-family: var(--font-family-primary-b);
    font-weight: 100;
    color: black;

    margin-top: var(--margin-top-h4);
    margin-bottom: calc(10px + var(--margin-bottom-h4));
}

.data {
    /* margin-top: var(--margin-top-p); */
    /* margin-bottom: var(--margin-bottom-p); */
}

.icon-catalogo {
    width: var(--width-catalogo-mobile);

    margin: auto;
}

.icon-catalogo.ed24 .capa { fill: var(--color-24ed); }
.icon-catalogo.ed23a .capa { fill: var(--color-23ed-a); }
.icon-catalogo.ed23b .capa { fill: var(--color-23ed-b); } 
.icon-catalogo.ed23c .capa { fill: var(--color-23ed-c); }
.icon-catalogo.ed22a .capa { fill: var(--color-22ed-a); }
.icon-catalogo.ed22b .capa { fill: var(--color-22ed-b); }
.icon-catalogo.ed21 .capa { fill: var(--color-21ed); }
.icon-catalogo.ed20 .capa { fill: var(--color-20ed); }
.icon-catalogo.ed19 .capa { fill: var(--color-19ed); }
.icon-catalogo.ed18 .capa { fill: var(--color-18ed); }
.icon-catalogo.ed17 .capa { fill: var(--color-17ed); }
.icon-catalogo.ed14 .capa { fill: var(--color-14ed); }

/* Rótulos na capa */
/* Stroke */
.icon-catalogo.ed24 .rotulo { stroke: white; }
.icon-catalogo.ed23a .rotulo { stroke: var(--color-23ed-b); }
.icon-catalogo.ed23b .rotulo { stroke: var(--color-23ed-a); }
.icon-catalogo.ed23c .rotulo { stroke: var(--color-23ed-d); }
.icon-catalogo.ed22a .rotulo { stroke: white; }
.icon-catalogo.ed22b .rotulo { stroke: white; }
.icon-catalogo.ed21 .rotulo { stroke: white; }
.icon-catalogo.ed20 .rotulo { stroke: white; }
.icon-catalogo.ed19 .rotulo { stroke: white; }
.icon-catalogo.ed18 .rotulo { stroke: white; }
.icon-catalogo.ed17 .rotulo { stroke: white; }
.icon-catalogo.ed14 .rotulo { stroke: white; }
.icon-catalogo.ed14 svg polygon {stroke: white; }
/* FILL - NONE */
.rotulo { fill: none; }

/* INDICADOR EMBAIXO DO CATALOGO E ANIMACAO */
svg .indicador {
fill: none;
stroke: var(--color-dark);
stroke-width: 1.5;
transform: translateY(0px);
animation-name: indicadorcatalogo;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}


/* Reativar quando arrumar o svg */
svg.ed24 {
    /* box-shadow: 0px 0px 30px rgba(60,15,82,.5); */
    /* transition: box-shaddow 1s linear; */
}
svg.ed24:hover {
    /* box-shadow: 0px 0px 30px rgba(60,15,82,.7); */
    /* transition: box-shaddow 1s linear; */
}
    



@keyframes indicadorcatalogo {
    50% {
    transform: translateY(3px);
    }
}

.ed-22,
.ed-23,
.ed-24 {
    /* display: grid; */

    grid-template-columns: 100px 1fr;


}

.ed-ant-title {
    grid-area: edition;
}
h3.ed-ant-title {
    text-align: center;
    margin-bottom: calc(var(--margin) + var(--margin-bottom-h3));
}

.grid-ed-ant-catalogo-e-data-1 {
    grid-area: catalogo-a;
}
.grid-ed-ant-catalogo-e-data-2 {
    grid-area: catalogo-b;
}
.grid-ed-ant-catalogo-e-data-3 {
    grid-area: catalogo-c;
}

.grid-ed-ant-lista-a {
    grid-area: lista-a;
}
.grid-ed-ant-lista-b {
    grid-area: lista-b;
}
.grid-ed-ant-lista-c {
    grid-area: lista-c;
}


.grid-ed-ant-lista-a h4,
.grid-ed-ant-lista-b h4 {
    /* margin-top: calc(var(--margin) + var(--margin-top-h3)); */
    /* margin-bottom: calc(var(--margin) + var(--margin-bottom-h3)); */
}


.ed-22 ol,
.ed-23 ol,
.ed-24 ol {
    margin-bottom: var(--margin);
}

.ed-22 li,
.ed-23 li,
.ed-24 li {
    list-style: none;
}


@media screen and (min-width: 600px) {
    
    :root {
        --width-catalogo-desktop: 120px;
    }

    .ed-22,
    .ed-23,
    .ed-24 {

        display: grid;
    
        grid-template-columns: 1fr 1fr;
    }

    .ed-24 {
        grid-template-areas:
        "edition  edition"
        "catalogo-a lista-a"
        "catalogo-b lista-b";
    }
    .ed-23 {
        grid-template-areas:
        "edition  edition"
        "catalogo-a lista-a"
        "catalogo-b lista-b"
        "catalogo-c lista-c";
    }
    .ed-22 {
        grid-template-areas:
        "edition  edition"
        "catalogo-a lista-a"
        "catalogo-b lista-b";
    }


    .icon-catalogo {
        width: var(--width-catalogo-desktop);
    }

    .grid-ed-ant-catalogo-e-data-1,
    .grid-ed-ant-catalogo-e-data-2,
    .grid-ed-ant-catalogo-e-data-3 {
        margin-top: auto;
        margin-bottom: auto;
    }

}


@media screen and (min-width: 1100px) {
    
    :root {
        --width-catalogo-desktop: 188px;
    }



    .ed-22,
    .ed-23,
    .ed-24 {
        display: grid;
    
        grid-template-columns: calc(411px - var(--margin)) 1fr 1fr;
    

    }

    .icon-catalogo {
        width: var(--width-catalogo-desktop);
    }
    .icon-catalogo .hover {
        transform: translateY(0px);
        transition: transform 2s cubic-bezier(.79,0,1,1);
    }
    /* Hover */
    .icon-catalogo .hover:hover {
        transform: translateX(100px);
        transition: transform 1s ease;
    }
    .lupa {
        fill: white;
    }
    .data {
        text-align: center;
    }

    .grid-ed-ant-catalogo-e-data-1,
    .grid-ed-ant-catalogo-e-data-2 {
        width: var(--width-catalogo-desktop);
        margin-left: auto;
        margin-right: auto;
    }

    .ed-24 {
        grid-template-areas:
        "edition  edition edition"
        "catalogo-a lista-a lista-b";
    }
    .ed-23 {
        grid-template-areas:
        "edition  edition edition"
        "catalogo-a lista-a lista-b"
        "spacing . ."
        "catalogo-b catalogo-c lista-c"
    }
    .ed-22 {
        grid-template-areas:
        "edition  edition edition"
        "catalogo-a lista-a lista-b"
        "spacing . ."
        "catalogo-b . ."
    }
    .grid-spacing {
        height: var(--margin);
        grid-area: spacing;
    }
    .icon-catalogo.ed23c {
        margin-left: 0;
    }
    .nome-exposicao {
        text-align: left;
    }
    .catalogo-e-data-3 {
        padding-right: 106px;
    }




}