/* Folha de estilo específica para tipografia e cores das fontes */
/* Para especificar fonte em alguma página, usar classe */

/* Google fonts */
@import url(https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap);

html {
    -webkit-text-size-adjust: 100%; /* Escala se manter em mobiles */
}

a {
    text-decoration: none;
    /* Se quiser colocar, coloque na folha de estilos específica */
}

:root {
    --font-family-standard: 'Jost';
    --font-size-menu: 1.20rem; /* Menu */
    --font-size-h2:   3.20rem; /* Titulo do bloco em cada página */
    --font-size-h3:   2.30rem; /* Subtítulo em cada bloco */
    
    --font-size-h4:   1.90rem; /* Títulos menores */
    --font-size-h5:   1.60rem; /* Datas no calendário */
    --font-size-h6:   unset;   /* Reservado - sem uso */

    --font-size-p:    1.32rem;

    --font-size-h6:   1.10rem; /* Rodapé */
    /* OUTRAS CORES */
    --color-texto-oculto: #a3a8aa;
}

/* === Geral === */
a { font-size: 0rem; } /* Zerar a margem destas tags */

h2, h3, h4, h5, h6, p, li {
    font-family: var(--font-family-standard);
    text-decoration: none;
}
/* Todos menos links */
h2, h3, h4, h5, h6, li, p:not(.menu-tipografia) {
    /*color: red;*/
    margin-left: var(--margem);
    margin-right: var(--margem);
}

/* padding-bottom: - white space controlado */
h2, h3, h4, h5, h6, p {
    /*outline: 1px solid black;*/
    padding-bottom: 0px; /* Revisar */
    padding-top: 0px; /* Revisar */
    text-decoration: none;
}

.submenu-ed-anteriores a,
p.menu-tipografia {
    text-decoration: none;
}

/* === <h2 a h6> === */

h2 {
    font-size: var(--font-size-h2);
    font-weight: 400;
}
h3 {
    font-size: var(--font-size-h3);
    font-weight: 400;
}
h4 {
    font-size: var(--font-size-h4);
    font-weight: 300;
}
h5 {
    font-weight: 300;
}

/* === <p> e tipografia semelhante (links e outros) === */
.menu-right p { font-size: var(--font-size-menu); } /* Menu */
p, li { font-weight: 400; }

p {
    line-height: calc(var(--font-size-p) + 0.5rem);
    /*margin-top: -6px;*/
}
.link-arquivo, a.arquivo, p { font-size: var(--font-size-p); }

.link-arquivo {
    text-decoration: underline var(--color-main-primary);
}
ol { list-style: none; /* (Usando: .main-ed-anteriores) */
   padding: unset; /* Tirar espaco da esquerda na lista */
}
li {
    font-size: var(--font-size-p);
}

/* === textos no footer === */
p.logomarcas,
p.rodape-desktop,
p.rodape-mobile {
   font-family: var(--font-family-standard);
   text-align: center;
   font-size: var(--font-size-h6);
}